<nav id="tINNav" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand page-scroll" href="#page-top">TYPE IT NOW</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" href="#/about">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#/pricing">Pricing</a>
				</li>
				<li>
					<a class="page-scroll" href="#/contact">Contact</a>
				</li>
				<li>
					<a class="page-scroll" href="#/upload">Upload</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
